{% extends 'partials/base.html'%}
{%block content%}
{%if messages%}
{%for message in messages%}
<div class="alert alert-warning">{{message}}<br></div>
{%endfor%}
{%endif%}
<div class="row">
    <h2>Booking for the current month</h2>
  {% for book in booking%}
 <div class="card ms-3 " style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Reservation by {{book.user.username}}</h5>
    <p class="card-text">Start Date: {{book.start_date}}</p>
    <p class="card-text">End Date: {{book.end_date}}</p>
    <p class="card-text">Number people: {{book.number_people}}</p>
    <p class="card-text">Room Type: {{book.room.room_type}}</p>
    <p class="card-text">Room Type: {{book.room.room_number}}</p>
      <a href="{% url 'single_book' book.id %}">More about this reservation</a>
  </div>
</div>
{%endfor%}
</div>
{%endblock%}