{% extends 'partials/base.html' %}
{% load bootstrap5 %}
{% block title %}
{{item_type}} | Create
{% endblock %}

{% block content %}
{%if messages%}
{%for message in messages%}
<div class="alert alert-warning">{{message}}<br></div>
{%endfor%}
{%endif%}
<div class="container me-5 ms-5">
    <h1 class="d-flex justify-content-center">Leave a review</h1>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Leave A Review" button_type="submit" button_class="btn-success" %}
    </form>
</div>
{% endblock %}