{% extends 'partials/base.html'%}
{% block content%}
<div class="container">
<h1 class="pt-3 ps-3">All the requests</h1>
<div class="row">
{%for req in requests%}

    <div class="card mb-5 " style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Request by {{req.name}}</h5>
            <p class="card-text">Email: <a href = "mailto: {{req.email}}">{{req.email}}</a></p>
            <p class="card-text">Request: {{req.request}}</p>
        </div>
    </div>
    {%endfor%}
</div>
</div>
{%endblock%}