{% extends 'partials/base.html'%}
{% block content%}
<div class="container">
<h1 class="pt-3 ps-3 d-flex justify-content-center">Our different rooms</h1>
<div class="row d-flex justify-content-evenly">
{%for room in roomstype%}


    <div class="card mb-5 " style="width: 25rem;">
        <img src="{{room.image}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{room.name}}</h5>
            <p class="card-text">{{room.details}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price per person per day : {{room.cost}}</li>
            <li class="list-group-item">Capacity: {{room.max_people}} people</li>
        </ul>
    </div>
    {%endfor%}
     <a href="{% url 'booking' %}" class="btn btn-warning d-flex justify-content-center">Make Booking</a>

</div>
</div>

{%endblock%}
